<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>All Products | Semi Restful Route Demo</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<style>
			form {
				display: inline-block;
			}
		</style>
	</head>
	<body>
		<!-- Products#index-->
		<div class="container">
			<h3>Products</h3>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
						<th class="text-right">Actions</th>
					</tr>
				</thead>
				<tbody>
					<!-- Displaying Products-->
					{% for product in products %}
					<tr>
						<td>{{ product.name }}</td>
						<td>{{ product.description }}</td>
						<td>${{ product.price}}</td>
						<!-- Action Button Show | Edit | Remove-->
						<td class="text-right">
							<a class="btn btn-info btn-xs" href="/products/{{ product.id }}">Show
								<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
							</a>
							<a class="btn btn-primary btn-xs" href="/products/{{ product.id}}/edit">
								<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
							</a>
							<form action="/products/{{ product.id }}" method="POST">
								<button type="submit" class="btn btn-danger btn-xs">
									<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Remove
								</button>
							</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<!-- Add New Product Link-->
			<a class="btn btn-link add" href="/products/new">Add new product</a></td>
		</div>
	</body>
</html>